body {
  background-color: blueviolet;
}
#container {
  background-color: bisque;
}
#cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
input[type='text'],
select,
textarea {
  width: 10px;
  background-color: red;
  font-weight: bolder;
  color: blue;
  transition: width 1s, background-color 0.5s;
}
input:hover[type='text'],
select,
textarea {
  width: 100px;
  background-color: white;
  color: black;
  transition: width 0.5s, color 0.5s, background-color 0.5s;
}
